In [2]:
import numpy as np
import pandas as pd
import nltk
import mysql.connector
import glob

In [6]:
# Connect and create a new database

mydb = mysql.connector.connect(host='localhost',user='hitu',passwd='pass')
mycursor = mydb.cursor()

# CREATE mdb database if it doesn't exist already
mycursor.execute("CREATE DATABASE IF NOT EXISTS mdb")
mycursor.execute("SHOW DATABASES") 

for x in mycursor:
    print(x)

('information_schema',)
('mdb',)
('mysql',)
('oqmd',)
('performance_schema',)
('sys',)

In [11]:
# Connect to the created database and create a new table of transcripts

mdb = mysql.connector.connect(host='localhost',user='hitu',password='pass',database='mdb')
mycursor = mdb.cursor()

In [65]:
mycursor.execute('CREATE TABLE IF NOT EXISTS podcasts (episode_no SMALLINT, full_text LONGBLOB)')

# deletes the table podcasts from the database
# mycursor.execute("DROP TABLE podcasts")

mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)
    
# Making episode number our primary key
mycursor.execute("ALTER TABLE podcasts ADD PRIMARY KEY (episode_no)")

('customers',)
('podcasts',)

In [66]:
# Total number of episodes
x = glob.glob('/home/hitarth/talk-python-transcripts/transcripts/*.txt')
print(len(x))
print(x[0])
print(int(x[0][-7:-4]))

217
/home/hitarth/talk-python-transcripts/transcripts/031.txt
31

In [67]:
#Multiple insertions
sql = "INSERT INTO podcasts (episode_no, full_text) VALUES (%s, %s)"
val = []
for i in range(len(x)):
    f = open(x[i],'r')
    val.append((int(x[i][-7:-4]), f.read()))

mycursor.executemany(sql,val)

mdb.commit()

print(mycursor.rowcount, "records inserted")

217 records inserted